<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Mostranos los lugares que mas y menos te gustan del edificio</p>  
  <ion-button routerLink="/lista/1" routerDirection="forward">
    <ion-img  src="assets/store/edificio-up.svg"   expand="full"  ></ion-img>
  </ion-button>
  <ion-button routerLink="/lista/0" routerDirection="forward">
    <ion-img  src="assets/store/edificio-down.svg"  expand="full"   ></ion-img>
  </ion-button>
  <!-- -->
  <div padding text-center >
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

</ion-content>
