<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Mostranos los lugares que mas y menos te gustan del edificio</p>  
  <ion-img  src="assets/store/edificio-up.svg"  (click)="subirFotoBuena()" expand="full"  *ngIf="!mostrarSubirFoto" ></ion-img>
  <ion-img  src="assets/store/edificio-down.svg" (click)="subirFotoMala()"  expand="full"  *ngIf="!mostrarSubirFoto"  ></ion-img>
  <!-- -->
  <div padding text-center *ngIf="mostrarSubirFoto">
    <img src={{currentImage}} />
    <ion-button expand="block" (click)="SubirFoto()">Tomar Foto</ion-button>
    <ion-button expand="block" (click)="Volver()">Volver</ion-button>
  </div>

</ion-content>
