<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Mostranos los lugares que mas y menos te gustan del edificio</p>  
  <ion-img  src="assets/store/edificio-up.svg"  (click)="subirFotoBuena()" expand="full" ></ion-img>
  <ion-img  src="assets/store/edificio-down.svg" (click)="subirFotoMala()"  expand="full" ></ion-img>
</ion-content>
